/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}
body 
{
	line-height: 1;
}
ol, ul 
{
	list-style: none;
}
blockquote, q 
{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}


/*мои стили*/

@font-face {
    font-family: 'OpenSansRegular';
    src: url('/fonts/OpenSansRegular.ttf');
    font-style: normal;
    font-weight: normal;
}

body
{
	padding: 10px;
	
	font-family: OpenSansRegular, Arial;
	font-size: 14px;
	line-height: 1.5em;
}

a
{
	color: #111;
}

.al_ok,
.al_not
{
	border: 1px solid #111;
	padding: 0 6px;
	
	border-radius: 2px;
}

.al_ok
{
	background: #5eba00;
}

.menu a
{
	border: 1px solid #111;
	padding: 2px 10px;
	
	border-radius: 2px;
	text-decoration: none;
	transition: 0.2s;
}

.menu a:hover
{
	background: #111;
	color: white;
}

textarea,
input
{
	font-family: OpenSansRegular, Arial;
	font-size: 14px;
}

textarea
{
	display: block;
	width: 700px;
}

b
{
	font-weight: bold;
}

input
{
	display: inline-block;
	
	margin: 5px 0;
}

input[type=text],
input[type=password],
input[type=date],
input[type=file],
select,
textarea,
.interface
{
	border: 1px solid #aaa;
	padding: 2px 5px;
	
	background-color: #eee;
}

input[type=date]
{
	padding: 0 5px;
}

input[type=file]
{
	padding: 15px 0 15px 10px;
}

.logout 
{
	float: right;
}

.long
{
	width: 400px;
}

.short
{
	width: 100px;
}

table td
{
	padding: 1px 7px;
}

i
{
	font-style: italic;
}

.gray
{
	color: #bbb;
}

.red
{
	color: #f00;
}

.green
{
	color: #0f0;
}

.device_photo td
{
	vertical-align: middle;
}

.device_photo img
{
	display: block;
	
	width: 100px;
	height: 100px;
}

.interface
{
	cursor: pointer;
	border-radius: 2px;
}