/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*мои стили*/

@font-face {
    font-family: 'OpenSansRegular';
    src: url('/fonts/OpenSansRegular.ttf');
    font-style: normal;
    font-weight: normal;
}

html {
	position: relative;
	
	min-height: 100%;
}

body {
	height: 100%;
	
	font-family: OpenSansRegular, Arial;
	font-size: 14px;
	line-height: 1.5em;	
	background: #f7f7f7;
	color: #111;
}

.admin-link {
	color: #5eba00 !important;
	font-weight: bold;
}

.counter_tc {
	float: left;
	
	margin-right: 15px;
}

.pre_footer {
	padding-bottom: 141px;
}

input,
textarea,
select {
	outline: 0;
	display: block;
	
	font-family: OpenSansRegular, Arial;
	font-size: 14px;
}

.header_site {
	width: 100%;
}

.header_site .logo {
	display: inline-block;
	
	margin: 25px 0 0;
	
	font-size: 46px;
	text-decoration: none;
	color: #111;
}

.header_site .logo span:first-child {
	transition: 0.2s;
}

.header_site .logo:hover span:first-child {
	color: #5eba00;
}

.site_description {
	color: #888;
	font-style: italic;
	font-size: 12px;
}

.blackout {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 8;
	
	background: rgba(0, 0, 0, 0.8);
}

.wr {
	width: 940px;
	margin: 0 auto;
}

#switch_buttons {
	overflow: hidden;
}

.slide_but  {
	position: relative;
	float: left;
	
	width: 110px;
	height: 19px;
	margin: 20px 0 20px 30px;
	
	background-position: -110px;
	border-radius: 9px;
	cursor: pointer;
	transition: background-position, 0.09s;
}

.slide_but div {
	position: absolute;
	top: -3px;
	left: -11px;
	
	width: 27px;
	height: 26px;
	
	background-image: url('/images/menu_but_circle.png');
	transition: left, 0.09s;
}

#device_types {
	position: relative;
}

#device_types nav {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: none;
	
	width: 100%;
	margin-top: 20px;
	border: 1px solid #ddd;
	padding-bottom: 20px;
	
	border-radius: 2px;
	background-color: white;
}

#device_types nav a {
	float: left;
	
	margin: 5px 0 5px 20px;
	padding-top: 110px;
	width: 110px;
	height: 45px;
	
	text-decoration: none;
	text-align: center;
	color: black;
	background: 50% 5px no-repeat;
	transition: opacity 0.2s;
	opacity: 1;
	font-style: italic;
}

#device_types nav a:hover,
#device_types nav a.active
{
	opacity: 0.65;
}

#device_types nav a:active
{

}

main
{
	/*padding-top: 60px;*/
}

.message
{
	border: 1px solid #111;
	padding: 0 5px;
	margin: 10px 0;
	
	border-radius: 2px;
	background-color: #5eba00; 
	color: white; 
}

/*список устройств*/

.device_list_item
{
	box-sizing: border-box;
	position: relative;
	float: left;
	
	margin: 0 20px 20px 0;
	width: 300px;
	height: 300px;
	border: 1px solid #ddd;
	
	border-radius: 2px;
	background: white;
	text-decoration: none;
}

.circle_rating
{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	
	width: 50px;
	height: 50px;
	border: 1px solid #111;
	
	border-radius: 2px;
	background: #e8e8e8;
}

.circle_rating > div:first-child
{
	position: absolute;
	bottom: 0;
	left: 0;
	
	width: 50px;
	height: 50px;
	background: url('images/circle_rating_bg.jpg') no-repeat;
}

.circle_rating > div:last-child
{
	position: absolute;
	top: 20px;
	left: 20px;
	
	font-size: 20px;
	color: white;
}

.circle_rating > div:last-child > span
{
	font-size: 14px;
}

.device_list_item:nth-child(3n)
{
	margin-right: 0;
}

.device_list_item img
{
	display: block;
	
	width: 100%;
	height: auto;
	
	border-radius: 10px;
}

.device_list_item figcaption
{
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	
	height: 74px;
	width: 100%;
	padding: 5px 10px;
	
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: rgba(0, 0, 0, 0.68);
	color: white;
	transition-duration: 0.2s;
	font-size: 12px;
}

.device_list_item:hover figcaption
{
	background-color: rgba(255, 255, 255, 0.7);
}

.device_list_item figcaption div:first-child
{
	font-size: 14px;
}

.device_list_item figcaption div:last-child
{
	color: #888;
}

.device_list_item:hover figcaption div:first-child,
.device_list_item:hover figcaption div:nth-child(2)
{
	color: black;
}

.standard_block
{
	margin: 0 0 20px 0;
	padding: 10px 10px;
	border: 1px solid #ddd;
	
	border-radius: 2px;
	background: white;
}

.standard_block > div:first-child
{
	position: relative;
}

.standard_block > div:nth-child(2)
{
	margin-top: 42px;
}

.brad_crumb
{
	margin: 42px 0 25px;
	
	font-size: 12px;
	line-height: 1.5em;
	color: #888;
	font-style: italic;
}

.brad_crumb a,
.site_link
{
	color: #da3670;
}

.brad_crumb a:hover,
.site_link:hover
{
	color: #76002a;
	text-decoration: none;
	transition: 0.2s;
}

h1,
h2
{
	position: absolute;
	bottom: -28px;
	left: -17px;
	
	padding: 2px 25px;
	
	border-radius: 2px;
	color: white;
	background: #111;
	/*background: #d4003f;*/
}

h1
{
	font-size: 24px;
	line-height: 24px;
}

h2
{
	font-size: 20px;
	line-height: 20px;
}

h6 /* для "понравилось на сайте", после отзывов */
{
	font-size: 14px;
	line-height: 42px;
}

.CTA_add_review
{
	margin: 15px 0 5px;
}

.CTA_add_review a
{
	display: inline-block;
	
	padding: 5px 10px;
	margin: 10px 0 0 0;
	
	background: #5eba00;
	text-decoration: none;
	color: white;
	border-radius: 2px;
	transition: 0.2s;
}

.CTA_add_review a:hover
{
	background: #8bdc37;
}


.pagination a
{
	display: inline-block;
	
	padding: 0 7px;
	margin: 0 1px;
	border: 1px solid #111;
	
	border-radius: 2px;
	color: #111;
	text-decoration: none;
	font-weight: bold;
}

.pagination a.current
{
	background: #b50040;
	color: white;
}

.pagination a:hover
{
	background: #b50040;
	color: white;
	transition: 0.2s;
}

.footer_site
{
	position: absolute;
	bottom: 0;
	
	width: 100%;
	padding: 20px 0 0;
	margin-top: 24px;
	/*border-top: 1px solid #333;
	
	background: #2f0212;*/
	color: white;
}
.standard_block_footer
{
    padding: 10px 10px;
    border: 1px solid #ddd;
	
	border-radius: 2px;
	background: #2f0212;
}

.footer_site span
{
	color: #d4003f;
}

.photo
{
	position: relative;
	
	margin-bottom: 5px;
	
	cursor: pointer;
}

.photo img
{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	display: block;
	
	width: 750px;
	height: 750px;
	transition: 0.2s;
}

.photo img:first-child
{
	position: static;
	opacity: 1;
}

#switch_photo
{
	position: absolute;
	bottom: 0;
	right: 0;
}

#switch_photo div
{
	float: left;
	
	border: 1px solid #111;
	width: 16px;
	height: 16px;
	margin: 0 5px 5px 0;
	
	border-radius: 2px;
}

#switch_photo div:first-child
{
	background: #b50040;
}

.character
{
	width: 100%;
}

.character td
{
	border: 1px solid #ddd;
	padding: 7px 10px;
}

.character tr:nth-child(2n)
{
	background: #f2f1f1;
}

.bookmark a
{
	padding: 1px 5px;
	
	color: #111;
	border-radius: 2px;
	transition: 0.2s;
}

.bookmark a:hover
{
	color: #5eba00;
	text-decoration: none;
}

.video
{
	overflow: hidden;
}

.video article
{
	width: 455px;
	height: 256px;
	margin-bottom: 10px;
}

.video article:nth-child(1n)
{
	float: left;
}

.video article:nth-child(2n)
{
	float: right;
}

.mrg_b
{
	margin-bottom: 10px;
}

.assessment > div
{
	margin-bottom: 20px;
}

.assessment figure
{
	position: relative;
}

.assessment figure > div:first-child
{
	overflow: hidden;
	
	border: 1px solid #ddd;
	width: 250px;
	height: 10px;
	margin-top: 10px;
	
	background: #f2f1f1;
	border-radius: 2px;
}

.assessment figure > div:first-child > div
{
	height: 10px;
	
	background: url('images/rating_bar.jpg') no-repeat;
}

.assessment figure > div:nth-child(2)
{
	position: absolute;
	top: -6px;
	left: -1px;
	
	width: 27px;
	height: 23px;
	
	line-height: 23px;
	background: #500015;
	color: white;
	border-radius: 2px;
	text-align: center;
}

.assessment figcaption
{
	margin-left: 31px;
}

.disclaimer
{
	border: 1px solid #882246;
	padding: 1px 7px;
	margin: 10px 0;
	
	border-radius: 2px;
	background: #ffcfe0;
}

strong
{
	font-weight: bold;
}

.reviews a
{
	color: #da3670;
}

.reviews a:hover
{
	color: #76002a;
	text-decoration: none;
	transition: 0.2s;
}

.reviews article
{
	margin: 20px 0;
}

.reviews footer
{
	margin-bottom: 10px;
}

.reviews p
{
	margin-left: 30px;
	
	white-space: pre-wrap;
}

.reviews time
{
	color: #888;
	font-size: 12px;
	/*font-style: italic;*/
}

em
{
	font-style: italic;
}

.add_review input[type=text],
.add_review textarea
{
	box-sizing: border-box;
	
	border: 1px solid #ddd;
	padding: 1px 5px;
	margin-bottom: 10px;
	
	border-radius: 2px;
}

.add_review input[type=text]
{
	width: 250px;
}

.add_review textarea
{
	width: 100%;
	max-width: 100%;
}

.add_review input[type=submit]
{
	border: 1px solid #111;
	padding: 1px 15px 2px;
	margin: 20px 0;
	
    color: #111;
    border-radius: 2px;
	background: #5eba00;
    /*background: #3d7900 url('/images/submit_comment.png') no-repeat;*/
	cursor: pointer;
}

.add_review input[type=submit]:hover
{
	background-color: white;
    transition: 0.2s;
}

.add_review select
{
	margin-bottom: 10px;
}


/* RATING begin */
.rating input:checked ~ label, 
.rating label, 
.rating label:hover, 
.rating label:hover ~ label 
{
	background: #f2f1f1;
}

.rating 
{
	*zoom: 1;
	position: relative;
	float: left;
	/*overflow: hidden;*/
	
	margin-top: 10px;
}

.rating input,
.rating label 
{
	height: 10px;
	width: 40px;
}

.rating input 
{
	/*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	top: 0;*/
	
	position: absolute;
	z-index: 0;
	top: 1px;
	
	margin: 0;
	padding: 0;
	
	opacity: 0;
}

.rating label:hover, 
.rating label:hover ~ label 
{
	background: #76002a;
}

.rating input:checked ~ label 
{
	background: #b50040;
}

.rating label 
{
	float: right;
	position: relative;
	z-index: 1;
	
	border: 1px solid #ddd;
	margin-right: 3px;
	
	border-radius: 2px;
	cursor: pointer;
	transition: 0.2s;
}

.rating .star_1 
{
	left: 1px;
}

.rating .star_2 
{
	left: 46px;
}

.rating .star_3 
{
	left: 91px;
}

.rating .star_4 
{
	left: 136px;
}

.rating .star_5 
{
	left: 181px;
}
/* RATING end */





/*медиа запросы*/

@media screen and (max-width: 965px)
{
	.wr
	{
		width: 802px;
	}
	
	.device_list_item
	{
		width: 254px;
		height: 254px;
	}
	
	.photo img
	{
		width: 100%;
		height: auto;
	}
	
	.video article
	{
		width: 386px;
		height: 217px;
	}
}

@media screen and (max-width: 852px)
{
	.wr
	{
		width: 751px;
	}
	
	.device_list_item
	{
		width: 237px;
		height: 237px;
	}
	
	.video article
	{
		width: 360px;
		height: 202px;
	}
}

@media screen and (max-width: 799px)
{
	.wr
	{
		width: 720px;
	}
	
	.device_list_item
	{
		margin: 0 18px 18px 0;
		width: 228px;
		height: 228px;
	}
	
	.video article
	{
		width: 345px;
		height: 194px;
	}
}

@media screen and (max-width: 767px)
{
	.wr
	{
		width: 686px;
	}
	
	.device_list_item
	{
		margin: 0 16px 16px 0;
		width: 218px;
		height: 218px;
	}
	
	.video article
	{
		width: 328px;
		height: 184px;
	}
}

@media screen and (max-width: 735px)
{
	.wr
	{
		width: 616px;
	}
	
	.device_list_item
	{
		margin: 0 14px 14px 0;
		width: 294px;
		height: 294px;
	}
	
	.device_list_item:nth-child(3n)
	{
		margin-right: 14px;
	}
	
	.device_list_item:nth-child(2n)
	{
		margin-right: 0;
	}
	
	.video article
	{
		width: 596px;
		height: 335px;
	}
	
	.video article:nth-child(1n),
	.video article:nth-child(2n)
	{
		float: none;
	}
}

@media screen and (max-width: 666px)
{
	.wr
	{
		width: auto;
		padding: 0 10px;
	}
	
	.device_list_item
	{
		margin: 0 12px 12px 0;
		width: 295px;
		height: 295px;
	}
	
	.device_list_item:nth-child(3n)
	{
		margin-right: 12px;
	}
	
	.device_list_item:nth-child(6n)
	{
		margin-right: 0;
	}
	
	.video article
	{
		width: 100%;
		height: 325px;
	}
}

@media screen and (max-width: 639px)
{
	.device_list_item
	{
		margin: 0 10px 10px 0;
		width: 275px;
		height: 275px;
	}
	
	.device_list_item:nth-child(3n)
	{
		margin-right: 10px;
	}
	
	.device_list_item:nth-child(6n)
	{
		margin-right: 0;
	}
	
	.video article
	{
		height: 303px;
	}
}

@media screen and (max-width: 599px)
{
	.device_list_item
	{
		width: 260px;
		height: 260px;
	}
	
	.video article
	{
		height: 285px;
	}
}

@media screen and (max-width: 567px)
{
	.device_list_item
	{
		width: 242px;
		height: 242px;
	}
	
	.video article
	{
		height: 265px;
	}
}

@media screen and (max-width: 532px)
{
	.device_list_item
	{
		width: 215px;
		height: 215px;
	}
	
	.video article
	{
		height: 235px;
	}
}

@media screen and (max-width: 479px)
{
	.device_list_item
	{
		margin-right: 0;
		width: 100%;
		height: auto;
	}

	.device_list_item:nth-child(3n)
	{
		margin-right: 0;
	}
	
	.video article
	{
		height: 198px;
	}
}

@media screen and (max-width: 413px)
{
	.video article
	{
		height: 176px;
	}
}

@media screen and (max-width: 374px)
{
	.video article
	{
		height: 168px;
	}
}

@media screen and (max-width: 359px)
{
	.video article
	{
		height: 146px;
	}
}