<b>Добавить</b><br />

<form action='../functions.php' method='post'>
	<table>
		<tr>
			<td>
				<input type='text' name='title' placeholder='brand' />
			</td>
			<td>
				<input type='text' name='site' placeholder='site' />
			</td>
			<td>
				<input type='text' name='wordstat' placeholder='wordstat' />
			</td>
			<td>
				<input type='submit' name='adm_add_company' value='add' />
			</td>
		</tr>
	</table>
</form>

<br /><b>Бренды</b><br />

<table>
	
	<tr>
		<td><i>id</i></td>
		<td><i>Brand</i></td>
		<td><i>Site</i></td>
		<td><i>Wordstat</i></td>
		<td><i>Action</i></td>
	</tr>
	
	%string%
	
</table>