<form action='../functions.php' method='post'>
	<table>
		<tr>
			<td>
				<input
					class='long'
					type='text'
					name='pattern_name'
					placeholder='pattern name'
					title='доступно: смартфон, мышь'
				/>
			</td>
			<td>
				<input type='hidden' name='device_id' value='%device_id%' />
				<input type='submit' name='adm_select_pattern_char_for_device' value='select' />
			</td>
		</tr>
	</table>
</form>