<tr>
	<td class='gray'>%id%</td> 
	<td><span class='%ozon_check_class%'>%ozon_check%<span></td>
	<td><span class='%aliexpress_check_class%'>%aliexpress_check%<span></td>
	<td><a href='%address%/%adm_directory%/%link%'>%title%</a></td>
</tr>