<b>Авторизация</b>

<form name='adm_auth' action='../functions.php' method='post'>

	<input type='text' name='login' placeholder='Имя' autocomplete='off' /><br />
	<input type='password' name='password' placeholder='Пароль' /><br />
	<input type='submit' name='adm_auth' value='Войти' />

</form>