<b>Добавить новое устройство</b><br />

%add_device%

<br /><b>Все устройства</b><br />

<table>
	<tr>
		<td><i>id</i></td>
		<td><i>Ozon</i></td>
		<td><i>Aliexpress</i></td>
		<td><i>name</i></td>
	</tr>
	
	%device_snippets%
</table>