<table>
	<tr>
		<td class='gray'>%info%</td>
		<td><a href='/%device_link%'>%device_link_anchor%</a></td>
	</tr>
	
	<form name='adm_comment_approve' action='../functions.php' method='post'>
		<tr>
			<td>
				<input type='text' name='name' value='%name%' />
			</td>
			<td style='text-align: right'>
				<span class='interface'>link</span>
			</td>
		</tr>
		<tr>
			<td colspan='2'>
				<textarea rows='7' name='comment'>%comment%</textarea>
			</td>
		</tr>
		<tr>
			<td colspan='2'>
				<input type='hidden' name='comment_id' value='%comment_id%' />
				<input type='hidden' name='device_id' value='%device_id%' />
				<input class='adm_add_button' type='submit' name='adm_comment_approve' value='ok' />
				<input class='short' autocomplete='off' type='text' name='confirm_delete' placeholder='confirm delete' />
				<input class='adm_delete_button' type='submit' name='adm_comment_delete' value='delete' />
			</td>
		</tr>
	</form>
	
</table>

<br />