<form action='../functions.php' method='post'>
	<table>
		<tr>
			<td>
				<select name='section_id'>
					
					%select_section%
					
				</select>
			</td>
			<td>
				<select name='company_id'>
					
					%select_company%
					
				</select>
			</td>
			<td>
				<input class='long' type='text' name='name' value='%device_name%' />
			</td>
			<td>
				<input type='hidden' name='device_id' value='%device_id%'>
				<input type='submit' name='adm_edit_device' value='edit' />
			</td>
		</tr>
	</table>
</form>