<tr>
	<form name='edit_characteristics_%id%' action='../functions.php' method='post'>
		
		<td class='gray'>
			%id%
			<input type='hidden' name='id' value='%id%' />
		</td>
		
		<td>
			<input class='long' type='text' name='edit_char_name' value='%name%' />
		</td>
		
		<td>
			<input class='long' type='text' name='edit_char_value' value='%value%' />
		</td>
		
		<td>
			<input type='submit' name='submit_edit_char' value='edit' />
		</td>
		
		<td>
			<input class='short' type='text' name='confirm_delete_char' placeholder='confirm delete' title='delete / удалить'>
		</td>
		
		<td>
			<input type='submit' name='adm_delete_characteristic' value='delete'>
		</td>
	</form>
</tr>