<tr id='company_%id%'>
	<form action='../functions.php' method='post'>
	
		<td class='gray'>
			%id%
			<input type='hidden' name='id' value='%id%' />
		</td>
		<td><input type='text' name='title' value='%title%' /></td>
		<td><input class='long' type='text' name='site' value='%site%' /></td>
		<td><input class='short' type='text' name='wordstat' value='%wordstat%' /></td>
		<td>
			<input type='submit' name='submit_edit_company' value='edit' />
			<input class='short' type='text' name='confirm' placeholder='confirm' required />
			<input type='submit' name='submit_delete_company' value='delete' />
		</td>
		
	</form>
</tr>