<a class='logout' href='%address%/functions.php?adm_logout=1'>Выход</a>

<div class='menu'>
	<a href='%address%/%adm_directory%/'>Новые отзывы</a>
	<a href='%address%/%adm_directory%/?view=comments'>Все отзывы</a>
	<a href='%address%/%adm_directory%/?view=device'>Устройства</a>
	<a href='%address%/%adm_directory%/?view=company'>Бренды</a><br /><br />
</div>