<form action='../functions.php' method='post'>
	<table>
		<tr>
			<td>
				<select name='section_id'>
					<option value='0'></option>
					
					%select_section%
					
				</select>
			</td>
			<td>
				<select name='company_id'>
					<option value='0'></option>
					
					%select_company%
					
				</select>
			</td>
			<td>
				<input class='long' type='text' name='name' placeholder='name' />
			</td>
			<td>
				<input type='submit' name='adm_add_device' value='Add' />
			</td>
		</tr>
	</table>
</form>