<form action='../functions.php' method='post'>
	<table>
		<tr>
			<td>
				<input class='long' autocomplete='off' value='%source%' type='text' name='source' placeholder='link' />
			</td>
			<td>
				<input class='adm_add_button' type='submit' name='adm_edit_video' value='edit' />
			</td>
			<td>
				<input class='short' autocomplete='off' type='text' name='confirm' placeholder='confirm' title='Вписать слово "удалить"/"delete" или "редактировать"/"edit"' />
			</td>
			<td>
				<input class='adm_delete_button' type='submit' name='adm_delete_video' value='delete' />
				<input type='hidden' name='video_id' value='%video_id%' />
			</td>
		</tr>
	</table>
</form>