<form action='../functions.php' method='post' enctype='multipart/form-data'>
	<tr>
		<td>
			<img src='/%image_path%%image_name%' />
		</td>
		<td>
			<input type='file' name='photo' />
			<input type='hidden' name='photo_name' value='%image_name%' />
			<input type='hidden' name='photo_path' value='%image_path%' />
		</td>
		<td>
			<input type='submit' name='adm_edit_photo' value='ok' />
		</td>
		<td>
			<input class='short' type='text' name='confirm_delete' placeholder='confirm delete' />
		</td>
		<td>
			<input type='submit' name='adm_delete_photo' value='delete' />
		</td>
	</tr>
</form>