<div class='wr' style='margin-bottom: 20px; max-width: 730px;'>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- TC -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4994716008321849"
         data-ad-slot="1122582017"
         data-ad-format="auto"></ins>
    <script>
		(adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>