<div class='brad_crumb'>
	Средняя оценка устройства пользователями - <span itemprop='ratingValue'>%rating_value%</span>, на основе <span itemprop='reviewCount'>%rating_count%</span> отзыв%ending%
</div>
<div class='assessment mrg_b' style='margin-top: 32px;'>
	
	%rating%
	
</div>