<div class='wr' style='margin-bottom: 20px; max-width: 730px;'>
    <a
        href="https://mixupload.com?ref=208994"
        onclick="yaCounter36798010.reachGoal('goToMixupload'); return true;"
        style="display: block;"
    >
        <img
            src="/images/ad/mixupload.jpg"
            alt="mixupload - electronic dance music hub"
            style="display: block; width: 100%; border-radius: 2px;"
        >
    </a>
</div>