<div style='overflow: hidden'>
	<div class='rating'>
	
		%rating_items%
	
		<input type='hidden' name='question_id_%number%' value='%question_id%' />
	</div>
	<div style='clear: both'>%question%</div>
</div>